services:
  php:
      build: .
      user: 1000:1000
      container_name: chess_data_php
      restart: always
      volumes:
          - ./:/usr/share/chess-data
          - /usr/share/nginx/chess-data/vendor
          - ./docker/php/8.3/cli/php.ini:/usr/local/etc/php/php.ini
      working_dir: /usr/share/chess-data
  mysql:
      image: mysql:8.4
      container_name: chess_data_mysql
      ports:
          - "3306:3306"
      restart: always
      volumes:
          - ./docker/mysql/my.cnf:/etc/mysql/my.cnf
      environment:
          - MYSQL_ALLOW_EMPTY_PASSWORD=1
          - MYSQL_DATABASE=${DB_DATABASE}
          - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
          - MYSQL_PASSWORD=${DB_PASSWORD}
